.row2 {
    width: 100%;
}

.img-wrapper img {
    width: 100%;
}

.rounded-16 {
    @include borderRadius(16px);
    overflow: hidden;
}

.color-primary {
    color: $primaryColor;
}
.color-white {
    color: #fff;
}


.sp-bg {
    display: inline-block;
    position: relative;
    padding-left: 3px;
}
.sp-bg .txt {
    display: inline-block;
    position: relative;
    padding-left: 3px;
    visibility: hidden;
    opacity: 0;
}
.sp-bg .bg {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    z-index: 1;
    right: -2px;
    bottom: -3px;
    background: #fff;
    @include Transform(rotate(-5deg));
}
.sp-bg .txt-top {
    position: absolute;
    left: 3px;
    top: 0;
    z-index: 2;
}
// .sp-bg .txt-top:before {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: -3px;
//     z-index: 1;
//     right: -2px;
//     bottom: -3px;
//     background: #fff;
//     @include Transform(rotate(-5deg));
// }
.bg-white {
    background: #fff;
}