.with-arrow span {
    display: inline-block;
}
.arrow {
    position: relative;
    display: inline-block;
    &:before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: #000;
        top: 100%;
        -webkit-transition: width 0.2s ease-out;
        -moz-transition: width 0.2s ease-out;
        -ms-transition: width 0.2s ease-out;
        -o-transition: width 0.2s ease-out;
        transition: width 0.2s ease-out;
    }
    &:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        @include Transform(rotate(45deg));
        top: calc(50% - 5px);
        position: absolute;
        right: 1px;
    }
}
.arrow.white:before {
    background-color: #fff;
}
.arrow.white:after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
.btn .arrow {
    @include Transform(translate(0, -4px));
}
.with-arrow:hover .arrow:before {
    width: 30px;
    background-color: #2DD48C;
}
.with-arrow:hover .arrow:after {
    border-color: #2DD48C;
}
.arrow.left:after {
    @include Transform(rotate(225deg));
    left: 1px;
    right: auto;
}
.arrow.upright {
    @include Transform(translate(0, -4px) rotate(-45deg));
}
.btn:hover .arrow:before {
    width: 40px;
}
.btn.icon-42:hover .arrow:before {
    width: 30px;
}


.icon {
    display: inline-block;
}
.icon img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    @include uiTransition1;
}
.icon-42 {
    line-height: 40px;
    width: 42px;
    height: 42px;
    padding: 0;
}
.icon-36 {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-right: 18px;
    @include uiTransition1;
}
.icon-36:last-child {
    margin-right: 0;
}
.icon-32 {
    width: 32px;
    height: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.icon-32 img {
    height: 100%;
}
.icon-24 {
    width: 24px;
    height: 24px;
}
.icon.white {
    background: #fff;
}
.icon.round {
    @include borderRadius(50%);
    text-align: center;
}
.icon:hover {
    @include Transform(scale(1.1));
}
.icon:hover img {
    @include Transform(scale(1.2));
}
.icon.in-line {
    margin-right: 10px;
}