.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0 5%;
    margin: 0 auto;
}

.container-custom {
    width: 98%;
    margin: 0 auto;
}
.container-custom-content {
    width: 90%;
    margin: 0 auto;
}
.font-alt {
    font-family: 'Allura', cursive;
}

.content {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}
.color-maroon {
    color: #921c36;
}
.color-blue {
    color: #00125b;
}
.color-orange {
    color: #ff6400;
}
.color-yellow {
    color: #ffda9e;
}
.color-white {
    color: #fff;
}
.content.blurred {
    @include uiTransition2;
    @include Filter(blur(5px));
}

.full-page-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.full-page-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    background: #001f61 url(img/home-bg.jpg) center center no-repeat;
    background-size: cover;
}

.text-right {
    text-align: right;
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container-custom-content {
        width: 90%;
        margin: 0 auto;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding: 0;
        margin: 0 auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}