.page-footer {
    background: #FEE0DF;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.page-footer h1,
.page-footer p {
    color: #484E52;
}

.page-footer .icon {
    margin-right: 18px;
}
.page-footer .icon:last-child {
    margin-right: 0;
}

.page-footer h2, 
.page-footer p,
.page-footer h1 {
    margin-top: 10px;
    margin-bottom: 10px;
} 