.about-us .main-nav li a {
    color: #fff;
}
.about-us nav.main-nav,
.about-us .mobile-nav-toggle {
    background: rgba(0,0,0,.7);
}
.about-us nav.main-nav:before {
    background: rgba(0,0,0,.6);
}
.underdog {
    color: #ffefd5;
}

.about-us .content {
    width: 100%;
    height: 100%;
}
.about-us .content .container, .about-us .content .container > .row {
    height: 100%;
}
.about-us .content h1 {
    font-size: 4rem;
    text-align: center;
    color: #fff;
    font-weight: 800;
    line-height: 1em;
}
.about-us .content h1 b {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
.about-us .content h1 > b > span {
    display: block;
}
.about-us .content h1 span.font-alt {
    font-size: 1.6em;
}
.phi-logo-orange {
    margin-bottom: 1.4rem;
}

.normal-article-1 {
    padding: 6rem 0;
    background: #fff url(img/crumpled-paper-bg.jpg) center center no-repeat;
    background-size: 100% auto;
}
.normal-article-1 p {
    font-size: 2rem;
    color: #001f61;
    margin-bottom: 0;
}
.normal-article-1 h1 {
    font-size: 4.2rem;
    color: #001f61;
    text-transform: uppercase;
}
.normal-article-1 h1 span {
    display: block;
}
.normal-article-1 h1 img {
    display: inline-block;
    height: 10rem;
}

.normal-article-2 {
    padding: 6rem 0 1rem;
    background: #fff url(img/crumpled-paper-bg.jpg) center center no-repeat;
    background-size: cover;
}
h1.our-story {
    font-size: 4.8rem;
    line-height: 1em;
    margin-bottom: 4rem;
}
h1.our-story span.font-alt {
    font-size: 1.6em;
    display: block;
}
.normal-article-2 p {
    font-size: 2rem;
    color: #001f61;
    margin-bottom: 3rem;
}

.our-values {
    font-size: 4rem;
    margin: 4rem 0;
}
.our-values span.font-alt {
    font-size: 1.5em;
}

.full-page-article, .full-page-article > .container, .full-page-article > .container > .row {
    height: auto;
    min-height: 100vh;
}

.divine-proportion {
    background: url(img/about-us-bg-2-mobile.jpg) center top no-repeat;
    background-size: 100% auto;
    background-attachment: scroll;
}
.divine-proportion h1, .divine-proportion p {
    color: #fff;
}
.divine-proportion h1 {
    font-size: 5rem;
}
.divine-proportion h1 span {
    font-size: 1.4em;
}
.divine-proportion p {
    font-size: 2rem;
    font-weight: 300;
}

.value-box-wrap {
    text-align: center;
}
.value-box {
    width: 80%;
    height: auto;
    min-height: 20rem;
    background: #fff;
    @include borderRadius(1rem);
    @include boxShadow(0 0 30px rgba(0,0,0,.15));
    text-align: left;
    padding: 8rem 3rem 4rem;
    position: relative;
    margin: 2rem auto 6rem;
}
.value-box > .row {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.value-box h4 {
    font-size: 1.5rem;
    text-align: center;
}

.golden-ratio-image {
    display: inline-block;
    height: 12rem;
}

.value-box .icon-box {
    width: 9rem;
    height: 9rem;
    background: #002065;
    position: absolute;
    left: 50%;
    top: -4.5rem;
    margin-left: -4.5rem;
    @include borderRadius(4.5rem);
    text-align: center;
}
.value-box .icon-box img {
    display: inline-block;
    width: 7rem;
    margin-top: 1rem;
}
.normal-article-2 .page-footer p,
.page-footer p {
    margin: 10rem 0 15px;
}


@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .about-us nav.main-nav,
    .about-us .mobile-nav-toggle {
        background: none;
    }
    .about-us .content h1 {
        font-size: 6.8rem;
        text-align: center;
        color: #fff;
        font-weight: 800;
        line-height: 1em;
    }
    .divine-proportion {
        background: url(img/about-us-bg-2.jpg) center center no-repeat;
        background-size: 100% auto;
        background-attachment: scroll;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}