.contact-us .main-nav li a {
    position: relative;
    color: #fff;
    overflow: hidden;
}

.contact-us nav.main-nav,
.contact-us .mobile-nav-toggle {
    background: rgba(0,0,0,.5);
}

.contact-us .full-page-bg {
    // background: #000 url('./img/contact-us-bg.jpg') center center no-repeat;
    // background-size: cover;
    position: fixed;
}
.contact-address-wrap {
    width: 340px;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}
.contact-us .content {
    width: 100%;
    padding: 16vh 0 4vh;
}
.contact-us .content, .contact-us .content .container, .contact-us .content .container > .row {
    min-height: 100vh;
    height: auto;
}
.contact-us .subtitle {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-weight: 300;
}
.contact-us .subtitle li {
    display: inline-block;
    padding: 0 15px;
    font-size: 2.2rem;
}
.contact-us .subtitle li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #f47621; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: .8em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

address {
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    color: #fff;
    margin-top: 2.6rem;
    font-weight: 300;
}
address a {
    color: #fff;
    display: inline;
    padding: 0 5px;
    line-height: 1.8em;
}

address span {
    color: #f47621;
}
address span {
    display: inline-block;
    color: #f47621;
}
address a:after {
    content: "\a";
    white-space: pre;
}
.contact-us .page-footer p {
    // position: absolute;
    // bottom: 5px;
    // left: 0;
    // right: 0;
    margin: 10rem 0 0;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    opacity: .5;
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .contact-us nav.main-nav,
    .contact-us .mobile-nav-toggle {
        background: none;
    }
    .contact-us .content {
        width: 100%;
        padding: 0;
    }
    .contact-us .phi-global-logo-big {
        height: 15vh;
    }
    .contact-us .subtitle {
        font-size: 2rem;
    }
    address {
        font-size: 2.4rem;
    }
    address a:after {
        content: "";
        white-space: none;
    }

    .contact-us .page-footer p {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        margin: 10rem 0 0;
        color: #fff;
        text-align: center;
        font-size: 1.4rem;
        opacity: .5;
    }
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}